body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.selector {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

.select-wrapper {
  position: relative;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  appearance: none;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  color: #333;
}

.arrow-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

.arrow {
  font-size: 24px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
  color: #333;
}

.arrow:hover {
  background-color: #bbb;
}

#prevOperator:before {
  content: '\2039'; /* Unicode code for left-pointing arrow (‹) */
}

#nextOperator:before {
  content: '\203A'; /* Unicode code for right-pointing arrow (›) */
}

#prevAttachment:before {
  content: '\2039'; /* Unicode code for left-pointing arrow (‹) */
}

#nextAttachment:before {
  content: '\203A'; /* Unicode code for right-pointing arrow (›) */
}

.progress {
  width: 100%;
  height: 4px;
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.indicator {
  height: 100%;
  background-color: #555;
  border-radius: 4px;
  width: 0;
  transition: width 0.3s;
}

#operatorIndicator {
  /* Customize operator indicator color if needed */
  background-color: #007BFF; /* Blue */
}

#attachmentIndicator {
  /* Customize attachment indicator color if needed */
  background-color: #FFC107; /* Yellow */
}

#operatorInfo {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
